body{
	background-color: #090909;
}

.btn{
	font-size: 40px;
	color: #090909;
}
table{
	border-collapse: separate;
	border-spacing: 10px;
}

.numbers{
	text-align: center;
	font-size: 120px;
	font-family: 'Orbitron', sans-serif;
}

.operations{
	text-align: center;
	font-size: 75px;
	font-family: 'Orbitron', sans-serif;	
}

.answer{
	text-align: center;
	font-size: 175px;
	font-family: 'Orbitron', sans-serif;
}

.calculator{
	font-family: 'Press Start 2P', cursive;
}
