body{
	background-color: #090909;
}

.top-buffer{
	height: 30%;
	background-color: #090909;
}

.bottom-buffer{
	height: 30%;
	background-color: #090909;
}

input{
	text-align: right;
}

.btn{
	font-size: 40px;
	color: #090909;
}
table{
	border-collapse: separate;
	border-spacing: 10px;
}